// 变量定义
$theme: #d60b0b;
$deep-theme: #b40707;
$light-theme: #f03d3d;
$white: #ffffff;
$h1c: #333333;
$h2c: #555555;
$h3c: #777777;
$border: 1px solid #ececec;

:export {
  theme: $theme;
  deep-theme: $deep-theme;
  light-theme: $light-theme;
  white: $white;
  h1c: $h1c;
  h2c: $h2c;
  h3c: $h3c;
  border: $border;
}
