// @import './theme.scss' // 变量定义
$theme: #c62f2f;
$deep-theme: #ad0f0f;
$light-theme: #eb5c5c;
$white: #ffffff;
$h1c: #333333;
$h2c: #555555;
$h3c: #777777;
$border: 1px solid #ececec;
$bg: #fafafa;

:export {
  theme: $theme;
  deep-theme: $deep-theme;
  light-theme: $light-theme;
  white: $white;
  h1c: $h1c;
  h2c: $h2c;
  h3c: $h3c;
  border: $border;
}
